.App {
  text-align: center;
}

#flex {
  display: flex;
  flex-wrap: wrap;
 }
 
 #flex > img {
  flex: 0 1 33%;
  padding: 1em;
 }

 img {
  max-width: 100%;
  height: 100%;
 }

 
/* Responsive - changes grid to single column */
@media (max-width: 800px) {
  #flex {
    flex-direction: column;
  }
}